<h1 class="text-4xl font-bold text-center mt-8 text-blue-600">Edit Book</h1>
<div class="flex justify-center mt-6">
  <%= form_with model: @book, local: true do |form| %>
    <div class="bg-sky-200 shadow-md rounded-lg p-6 max-w-2xl w-full md:w-[26vw]">
      <div class="mb-4">
        <label for="book_title" class="block text-gray-700 font-bold mb-2">Title</label>
        <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <label for="book_author" class="block text-gray-700 font-bold mb-2">Author</label>
        <%= form.text_field :author, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <label for="book_description" class="block text-gray-700 font-bold mb-2">Description</label>
        <%= form.text_area :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", rows: "4" %>
      </div>
      <div class="flex justify-between">
        <%= form.submit "Update Book", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out" %>
        <%= link_to "Back to List", books_path, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out" %>
      </div>
    </div>
  <% end %>
</div>
    <script>
    document.body.classList.add('bg-blue-50');
    </script>
