<h1>Add a New Book</h1>
<%= form_with model: @book, local: true do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation" style="color: red;">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin: 10px 0;">
    <%= form.label :title %>
    <%= form.text_field :title, style: "display: block; width: 100%; padding: 10px; margin-top: 5px;" %>
  </div>

  <div style="margin: 10px 0;">
    <%= form.label :author %>
    <%= form.text_field :author, style: "display: block; width: 100%; padding: 10px; margin-top: 5px;" %>
  </div>

  <div style="margin: 10px 0;">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, style: "display: block; width: 100%; padding: 10px; margin-top: 5px;" %>
  </div>

  <div style="margin: 20px 0;">
    <%= form.submit "Add Book", class: "btn btn-primary" %>
  </div>
<% end %>

<p>
  <%= link_to "Back to List", books_path %>
</p>
